<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(method: :patch, url: "/talks/#{@talk.id}/create", local: true) do |f| %>
      
        <% if @talk.errors.any? %>
          <div id="error_explanation" class="alert alert-warning">
            <ul class="mb-0">
                <% @talk.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
          </div>
        <% end %>
      
      <div class="form-group">
        <%= f.label :answer, '回答' %>
        <%= f.text_area :answer, class: 'form-control' %>
      </div>


      <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>