<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @talk, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>      
      <div class="form-group">
        <%= f.label :question, '質問' %>
        <%= f.text_area :question, class: 'form-control' %>
      </div>


      <%= f.submit '投稿編集', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>