
<% if @talks.any? %>
  <ul class="list-unstyled">
    <% @talks.each do |talk| %>
      
      <div id="chat-frame">
      <p class="chat-talk">
        <span class="talk-icon">
          <img src="/image4.png" alt="tartgeticon" width="50" height="50"/>
        </span>
        <span class="talk-content"><%=link_to talk.question, talk%></span>
          <div>
          <% if talk.answer %>
          <p class="chat-talk mytalk">
          <span class="talk-icon">
            <img src="/image3.jpeg" alt="myicon" width="50" height="50"/>
          </span>
          <span class="talk-content"><%=talk.answer%></span>
          </p>
            <% else %>
            <%= link_to '質問回答', "/talks/#{talk.id}/new", class: 'btn btn-primary btn-sm' %>
            <% end %>
          </div>
      </p>
      
      </div>
    <% end %>
  </ul>
  <%= paginate @talks %>
    
<% end %>
<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @talk, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>      
      <div class="form-group">
        <%= f.label :question, '質問' %>
        <%= f.text_area :question, class: 'form-control' %>
      </div>


      <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
